  <li class="dropdown" id="listas_precios">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Listas de Precios <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li class="dropitem"><%= link_to "Listas de Precios",  suppliers_path %></li>
    </ul>
  </li>

  <li class="dropdown" id="clientes">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clientes<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li class="dropitem"><%= link_to "Listado de Clientes",  clients_path %></li>
      <li class="dropitem"><%= link_to "Agregar Cliente",  new_client_path %></li>
    </ul>
  </li>
  
  <li class="dropdown" id="ventas">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ventas <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li class="dropitem"><%= link_to "Registrar Venta",  suppliers_path %></li>
      <li class="dropitem"><%= link_to "Listar o Buscar Ventas",  suppliers_path %></li>
    </ul>
  </li>

  <li class="dropdown" id="user_menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuario: <%= current_user.username %> <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li class="dropitem"><%= link_to "Opciones",  edit_user_registration_path %></li>
      <li class="dropitem"><%= link_to "Salir",  destroy_user_session_path, method: :delete %></li>
    </ul>
  </li>

